@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Nanum+Gothic&display=swap");

* {
  box-sizing: border-box;
}

.navBar {
  width: 100%;
  height: 56px;
  display: flex;
  //position: relative;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0px 3px 6px #1b224628;
  box-sizing: border-box;
  .lineBtn {
    display: none;
  }
  .brandName {
    width: 76px;
    height: 100%;
    font-size: 24px;
    font-family: "Nanum Gothic", sans-serif;
    margin-left: 20px;
    position: absolute;
    top: 20px;
  }

  .itemList {
    ul {
      display: flex;
      position: absolute;
      top: 14px;
      left: 100px;

      li {
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        font-size: 12px;
        padding: 0 6px;
        letter-spacing: 0.01px;
      }
      li:hover {
        background-color: black;
        color: white;
        border-radius: 2px;
      }
    }
  }

  .iconList {
    ul {
      display: flex;
      position: absolute;
      right: 70px;
      top: 0;

      li {
        padding: 0 7px;
        button {
          border: none;
          background: none;
          outline: none;

          .searchInput {
            width: 350px;
            border-bottom: 2px solid black;
            position: absolute;
            right: 300px;
            bottom: -1px;

            input {
              transition: top 0.5s ease, opacity 0.3s ease;
              width: 300px;
              height: 30px;
              border: none;
              outline: none;
              font-size: 17px;
              color: black;
              background-image: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-256.png);
              background-position: 2px center;
              background-size: contain;
              background-repeat: no-repeat;
              padding: 5px 5px;
              text-indent: 30px;
            }
          }
        }
      }
      li:hover {
        opacity: 0.5;
      }
    }
  }
}

@media screen and (min-width: 320px) and(max-width: 768px) {
  .navBar {
    width: 100%;
    height: 53px;
    display: flex;
    position: relative;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0px 3px 6px #1b224628;

    .lineBtn {
      position: absolute;
      left: 20px;
      top: 10px;
      display: inline-block;
    }

    .brandName {
      width: 76px;
      height: 100%;
      font-size: 25px;
      font-family: "Nanum Gothic", sans-serif;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      top: 13px;
    }

    .itemList {
      display: none;
    }

    .iconList {
      ul {
        display: flex;
        position: absolute;
        left: 18.75rem;
        top: 1px;

        li {
          padding: 0 7px;

          &:nth-child(1) {
            position: absolute;
            left: -240px;
            top: -5px;
          }
          &:nth-child(2) {
            display: none;
          }
          &:nth-child(3) {
            display: none;
          }
          &:nth-child(4) {
            position: absolute;
            right: -50px;
            top: -5px;
          }
          button {
            border: none;
            background: none;
            outline: none;
          }
          li:hover {
            opacity: 0.5;
          }
        }
      }
    }
  }
}
